<% if @products %>
  <% @products.each do |product| %>
    <%= label(product.name, :product) %>
    <%= link_to product.name, controller: "store", action: "show", id: product %><br>
    <%= label(product.description, :description) %>
    <%= product.description %><br>

    <% product.categories.each do |category| %>
      <%= label(category.title, :category) %>
      <%= category.title %><br>
    <% end %>
    <%= button_to "Add to Cart", {controller: "lines", action: "create", product_id: product.id}, method: "POST", remote: true %><br><br>
  <% end %>
<% else %>
  no products
<% end %><br><br>

<div class="cart">
  <div class="lines">
  </div>
</div>