<!DOCTYPE html>
<html>
<head>
  <title>ClossusShop</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= link_to "All categories", admin_categories_path %>
  <%= link_to "All products", admin_products_path %><br><br>

  

<%= yield %>

</body>
</html>
